<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>406</title>
    <meta charset="utf-8">
    <!-- Custom fonts for this theme -->
    <link th:href="@{/css/all.min.css}"  rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
    <link th:href="@{/css/freelancer.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand " href="#page-top">Network of shops</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " th:href="@{/}">Home</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " th:href="@{/myshop}">Shop</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " th:href="@{/mysuppliers}">Companies</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-outline-light mt-2" value="Sign Out" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section text-white mb-0" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="text-center text-uppercase text-white" >406 unacceptably</h2>

        <!-- About Section Content -->
        <div class="d-flex h-100 justify-content-center">
            <div class="align-self-center">
                <div class="container text-center border border-primary rounded p-5">
                    <h1>Element exists or null or negative!</h1>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>