<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Logging</title>
    <meta charset="utf-8">
    <!-- Custom fonts for this theme -->
    <link th:href="@{/css/all.min.css}"  rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link th:href="@{/css/freelancer.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand " href="#page-top">Network of shops</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " th:href="@{/}">Home</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " th:href="@{/myshops}">Shops</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " th:href="@{/mysuppliers}">Companies</a>
                </li>
                <li sec:authorize ="hasRole('ROLE_ADMIN')"class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded " th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-outline-light mt-2" value="Sign Out" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<section class="page-section text-white mb-0" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="text-center text-uppercase text-white" >Statistic Shop</h2>

        <!-- About Section Content -->
        <div class="d-flex justify-content-center">
            <div class="align-self-center">
                <div class="container text-center border border-primary rounded">
                    <h6 th:utext="@{'All: ' + ${all[0].ord}}">...</h6>
                    <h6 th:utext="@{'Under consideration: ' + ${consideration[0].ord}}">...</h6>
                    <h6 th:utext="@{'Ordered: ' + ${start[0].ord}}">...</h6>
                    <h6 th:utext="@{'Accepted: ' + ${end[0].ord}}">...</h6>
                    <h6 th:utext="@{'Total price: ' + ${total[0].sum}}">...</h6>

                    <table class="table">
                    <thead>
                    <th scope="col"><h5 class="text-uppercase text-white">Start date of orders</h5></th>
                    <th scope="col"><h5 class="text-uppercase text-white">Count</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each ="stat : ${statstart}">
                        <td class="text-white" th:utext="${stat.Data_Start}">...</td>
                        <td class="text-white" th:utext="${stat.cdata}">...</td>
                    </tr>
                    </tbody>
                </table>
                    <table class="table">
                        <thead>
                        <th scope="col"><h5 class="text-uppercase text-white">End date of orders</h5></th>
                        <th scope="col"><h5 class="text-uppercase text-white">Count</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each ="stat : ${statsend}">
                            <td class="text-white" th:utext="${stat.Data_End}">...</td>
                            <td class="text-white" th:utext="${stat.cdata}">...</td>
                        </tr>
                        </tbody>
                    </table>
                    <input type="hidden" name="shopid" th:value="@{${shop}}" />
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>